<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/UF2213.A/src/com/ipartek/formacion/uf2213/EjemploJDBC.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ipartek.formacion.uf2213.EjemploJDBC"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="UF2213.A"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="UF2213.A"/>
</launchConfiguration>
