.precio-tachado {
	position: relative;
    overflow: hidden;
}
  
.precio-tachado::before {
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #888; 
    transform: translateY(-50%) rotate(-20deg);
}
  
.antiguo-precio {
    color: #888; 
}
  
.desc {
  	border: 1px solid red;
  	padding: 0em 0.4em;
  	color: white;
  	background-color: red;
}

#alerta.show {
    opacity: 0;
    transition: opacity 1.5s ease;
}

#alerta {
    opacity: 1
}